// Typography
$fontFamily: "Red Hat Text", sans-serif;
$fontWeight: 700;

// **COLOURS**

// Primary
$grayishBlue: hsl(237, 18%, 59%); //
$softRed: hsl(345, 95%, 68%); //
// Neutral
$white: hsl(0, 0%, 100%); //
$topTabBlue: #2c2c44;
$darkDesaturatedBlue: hsl(236, 21%, 26%); // flip slide
$veryDarkBlue: hsl(235, 16%, 14%);
$mostlyBlackVeryDarkBlue: hsl(234, 17%, 12%);
