.attribution {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 11px;
  text-align: center;
  @include respon (lap){
    bottom: 0;
    top: auto;
  }
  a:link,
  a:visited {
    color: hsl(228, 36%, 75%);
  }
}
