.countdown {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.8rem;
  position: relative;
  top: 6px;
  @include respon(desk) {
    gap: 1.9rem;
  }
  &-upper,
  &-downer {
    height: 50%;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
  }
  &-upper {
    background-color: $veryDarkBlue;
    border-bottom: 1px solid black;
    &__num {
      transform: translateY(25%);
    }
  }
  &-downer {
    background-color: $darkDesaturatedBlue;
    border-top: 1px solid black;
    border-bottom: 4px solid black;
    &__num {
      transform: translateY(-50%);
      position: relative;
      z-index: 4;
    }
  }
  &-tab {
    // display: grid;
    // place-items: center;
    min-width: 6.8rem;
    height: 6.6rem;
    position: relative;
    background-color: black;
    border-radius: 5px;
    /* top: 5px; */
    // border-radius: 5px;
    // overflow: hidden;
    // background-color: hsl(236deg, 21%, 26%);
    text-align: center;
    font-size: 3.4rem;
    @include respon(desk) {
      width: 7.8rem;
      height: 7.6rem;
      font-size: 4.4rem;
    }
    &__num {
      color: $softRed;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }
    &__names {
      position: absolute;
      font-size: 0.6rem;
      bottom: -2.2rem;
      letter-spacing: 0.4rem;
      text-transform: uppercase;
      left: 50%;
      transform: translateX(-50%);
      letter-spacing: 0.4rem;
      color: $grayishBlue;
      @include respon(desk) {
        font-size: 0.7rem;
      }
    }
  }
}

// FLIP ANIMATIONS STUFF

// .countdown-upper::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 50%;
//   border-radius: 5px;
//   background-color: $veryDarkBlue;
//   transition: 2s all;
//   z-index: 0;
// }

// .countdown-upper-flip::after {
//   cursor: pointer;
//   transition: 1s all;
//   transform: rotateX(180deg);
//   transform-origin: bottom center;
//   // perspective: 200px;
// }

// .countdown-upper {
//   &:hover {
//     cursor: pointer;
//     transition: 1s all;
//     transform: rotateX(90deg);
//     transform-origin: 50% 100%;
//     // backface-visibility: hidden;
//     // transform: translateY(100%);
//     // transform: rotate3d(0.5 , 0, 1 , 180deg);
//     // perspective: 200px;
//   }
// }

.countdown-upper.flip::before {
  content: "5";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: 5px;
  animation: topflip 250ms ease-in;
  transform-origin: 50% 100%;
  perspective: 300px;
  background-color:$veryDarkBlue;
  // background-color: red;
}

.countdown-downer.flip-down::after {
  content:  "5";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: 5px;
  animation: bottomflip 250ms ease-out 250ms;
  transform: rotateX(90deg);
  transform-origin: top;
  perspective: 300px;
  // background-color: green;
  background-color: $darkDesaturatedBlue;
}

@keyframes topflip {
  100%{
    transform: rotateX(90deg);
  }
}

@keyframes bottomflip {
  100%{
    transform: rotateX(0deg);
  }
}