.footer {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/pattern-hills.svg");
    background-repeat: no-repeat;
    background-size: 240% 100%;
    background-position: 88% 100%;
    @include respon (tab){
      background-size: 100% 100%;
      background-position: 100% 100%;
    }
  &-socials {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 32px;
    height: 100%;
    position: relative;
    bottom: .3rem;
    @include respon (desk){
      gap: 24px;
    }
    &__icon {
      font-size: 24px;
      color: $grayishBlue;
      &:hover{
        color: $softRed;
        cursor: pointer;
      }
    }
  }
}
